.Card {
    max-width: 960px;
    margin: 0 auto;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 5000px;
    -moz-perspective: 5000px;
    -webkit-perspective: 5000px;
    position: relative;

    &,
    .card-front,
    .card-inside {
        height: 480px;
    }

    .card-front {
        color: #ffdfdf;
    }

    .card-content {
        padding: 1.5em 2.5em;
        height: 100%;
    }
    .card-front,
    .card-inside {
        width: 50%;
        -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.25),
            0 0 1px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.25),
            0 0 1px rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 50%;
    }

    .card-title {
        margin-top: -40px;

        margin-left: -100px;
        user-select: none;
        text-align: center;
        font-family: 'Nobile', sans-serif;
        font-style: italic;
        font-size: 70px;
        text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.15),
            1px 1px 0 rgba(255, 200, 200, 255),
            2px 2px 0 rgba(255, 150, 150, 255),
            3px 3px 0 rgba(255, 125, 125, 255);
        color: #fff;
    }

    .card-inside {
        font-size: 1.1em;
        line-height: 1.4;
        font-family: 'Nobile';
        color: #331717;
        font-style: italic;

        .card-content {
            background: #ffefef;
            -webkit-box-shadow: inset 2px 0 1px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: inset 2px 0 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 2px 0 1px rgba(0, 0, 0, 0.05);
        }
    }

    p {
        margin-top: 1em;

        &:first-child {
            margin-top: 0;
        }

        &.card-signature {
            margin-top: 1.5em;
            text-align: center;
            font-family: 'Dancing Script', sans-serif;
            font-size: 1.5em;
        }
    }

    .card-front {
        background-color: #ff5555;
        background: url(./conan-front.jpg) no-repeat center;
        transform-origin: left;
        -moz-transform-origin: left;
        -webkit-transform-origin: left;
        transition: transform 1s linear;
        -moz-transition: -moz-transform 1s linear;
        -webkit-transition: -webkit-transform 1s linear;
        position: relative;

        .card-content {
            transition: background 1s linear;
            -moz-transition: background 1s linear;
            -webkit-transition: background 1s linear;
        }
    }

    .close {
        display: none;
    }

    &.open-fully .close,
    &.open-half .close {
        display: inline;
    }

    &.open-fully .open {
        display: none;
    }

    &.open-half .card-front,
    &.close-half .card-front {
        transform: rotateY(-90deg);
        -moz-transform: rotateY(-90deg);
        -webkit-transform: rotateY(-90deg);
    }
    &.open-half .card-front .card-content {
        background-color: rgba(0, 0, 0, 0.5);
    }

    &.open-fully .card-front,
    &.close-half .card-front {
        background: #ffefef;
    }

    &.open-fully .card-front {
        transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -webkit-transform: rotateY(-180deg);
    }

    &.open-fully .card-front .card-content {
        background-color: rgba(0, 0, 0, 0);
    }

    &.open-half .card-front .card-content .card-front-back,
    &.close-fully .card-front .card-content .card-front-back,
    &.open-fully .card-front .card-content .card-front-front,
    &.close-half .card-front .card-content .card-front-front {
        display: none;
    }

    .CardButton {
        outline: none;
        position: absolute;
        bottom: 1em;
        right: -12px;
        background: #f44;
        color: #fff;
        font-family: 'Nobile', sans-serif;
        font-style: italic;
        font-weight: bold;
        font-size: 1.5em;
        padding: 0.5em;
        border: none;
        cursor: pointer;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25),
            0 0 1px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25),
            0 0 1px rgba(0, 0, 0, 0.4);

        &:hover,
        &:focus {
            background: #f22;
        }
    }

    .card-sticker {
        margin-left: 20%;
    }
}
