/* prettier-ignore */
@import url(https://fonts.googleapis.com/css?family=Nobile:400italic,700italic);
/* prettier-ignore */
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: #e5e5e5;
    padding: 50px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
